<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCPSLSettingChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SCPSLSettingChanger.Properties.Settings>
            <setting name="ScreenResolutionChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowModeChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VSyncEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FPSLimitChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureQualityChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxBloodAmountChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShadowsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShadowResolutionChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShadowDistanceChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MotionBlurEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorCorrectionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntiAliasingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LightRenderingModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MasterVolumeValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoundEffectsVolumeValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VoiceChatVolumeValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MenuMusicVolumeValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InterfaceVolumeValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SameMenuMusicAndInterfaceVolumeValueEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuThemeChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LanguageChoice" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MainMenuChoice" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DisplaySteamProfileEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotTrackEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FastIntroFadeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeadBobEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToggleSprintEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayExactHPValueEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RichPresenceEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublicLobbyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideIPEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToggleSearchEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SCP079ToggleViewEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SCP079EnablePostProcessingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrightnessValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SensitivityValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InvertYAxisEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="E11SightChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E11BarrelChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E11OtherChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Project90SightChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Project90BarrelChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Project90OtherChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MP7SightChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MP7BarrelChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MP7OtherChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USPSightChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USPBarrelChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USPOtherChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="COM15SightChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="COM15BarrelChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="COM15OtherChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphicsAPIChoice" serializeAs="String">
                <value>0</value>
            </setting>
        </SCPSLSettingChanger.Properties.Settings>
    </userSettings>
</configuration>